@keyframes loading{
    from{
        width:0;
    }
    to{
        width:100%;
    }
}

@keyframes fadeIn{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

@keyframes scrollMove{
    0%{
        transform:translateY(0);
        opacity:.2;
    }
    50%{
        transform:translateY(12px);
        opacity:1;
    }
    100%{
        transform:translateY(0);
        opacity:.2;
    }
}
/* ==========================================
   PAGE TRANSITIONS
========================================== */

.page-content{

    min-height:100vh;

}

.page-fade-in{

    animation:pageFadeIn .45s ease;

}

.page-fade-out{

    animation:pageFadeOut .25s ease;

}

@keyframes pageFadeIn{

    from{

        opacity:0;

        transform:translateY(25px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

@keyframes pageFadeOut{

    from{

        opacity:1;

        transform:translateY(0);

    }

    to{

        opacity:0;

        transform:translateY(-15px);

    }

}