/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Inter',sans-serif;

    background:var(--bg-primary);

    color:var(--text-primary);

    overflow-x:hidden;

}

img{

    max-width:100%;

    display:block;

}

a{

    text-decoration:none;

    color:inherit;

}

ul{

    list-style:none;

}

button{

    cursor:pointer;

    border:none;

    outline:none;

    font-family:inherit;

}

.container{

    width:min(var(--container),92%);

    margin:auto;

}

section{

    padding:120px 0;

}

::selection{

    background:var(--highlight);

    color:#000;

}